ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    list-style: none;
}
li.link {
    padding-left: 10px;
    padding-right: 10px;
    border-right-color: aquamarine;
}
li.notLastLink {
    border-right-width: 2px;
    border-right-style: solid;
}